name: "Culinary Code Review"

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  review:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Culinary Reviewer Step
        uses: asisjinwookim/culinaryclasswars-pr-agent@main
        with:
          gemini_api_key: ${{ secrets.GEMINI_API_KEY }}
