name: "Culinary Code Review"

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  review:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # diff를 정확히 계산하기 위해 전체 히스토리를 가져옵니다.
          fetch-depth: 0
      - name: Culinary Reviewer Step
        uses: asisjinwookim/culinaryclasswars-pr-agent@main
        with:
          gemini_api_key: ${{ secrets.GEMINI_API_KEY }}
